@import url(font.css);

body {
    background-color:black;
    font-family:"Blackletter";
}

.header {
    background-color:ghostwhite;
    color:maroon;
    text-decoration:double;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    flex:1;
    flex-wrap:nowrap;
}

h1 {
    font-weight:bold;
    font-size: 48px;
}

h2 {
    font-weight:bold;
    font-size:36px;
}