@import url(font.css);

body {
    background-color:black;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    flex:1;
}

.header {
    background-color:ghostwhite;
    color:maroon;
    font-family:"BlackletterBold";
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    flex:1;
    flex-wrap:nowrap;
}

h1 {
    font-weight:bold;
    font-size: 48px;
    text-shadow:1px 1px 2px black;
}

h2 {
    font-weight:bold;
    font-size:36px;
    text-shadow:1px 1px 2px black;
}

.headstep {
    display:flex;
    justify-content:center;
    width:300px;
    background-color: ghostwhite;
}

h3 {
    font-family:"Chronica";
    font-size:36px;
}

.stepsbox {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    flex:1;
}

.step {
    background-color:white;
    border-color:maroon;
    border-width:4px;
    text-wrap:wrap;
}

p {
    font-family:"Pemanka";
    font-size:16px;
    font-weight:bold;

}

